/*
Styles shared among all templates.

@since 0.1.0
*/

@import "../settings";

.page-content, .post-content {
  margin-top: $gutter;
  margin-bottom: $gutter;

  ul {
    margin: 1em 0 1em 3em;
  }
}